form{
    position: relative;
    margin: 3rem auto;
    width: 80%;
}
input{
    width: 100%;
    display: block;
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(to bottom, rgba(82, 82, 82, 0.822), rgba(0,0,0,0.8));
    border: none;
    color: #fff;
    outline: none;
    padding-left:3rem;
}
.search-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 1rem;
    color: #fff;
    margin-right: 1rem;
}

@media screen  and (max-width: 800px){
    form{
        width: 100%;
        padding: 0 1rem;
    }
    .search-icon{
        left: 2rem;
    }
}
